/* main.css */

/* Tabela Responsiva */
.table-responsive {
    overflow-x: auto;
}

.table td, .table th {
    white-space: nowrap;
}

/* Link Hover e Active */
.nav-link:hover, .nav-link.active {
    text-decoration: underline;
}

/* Estilização Tabelas */
.table th, .table td {
    white-space: normal;
    word-wrap: break-word;
}

.table-responsive {
    overflow-x: hidden;
}